{
    "presets": [
        [
            "@babel/preset-env",
            {
                // "debug": true,
                // "useBuiltIns": "usage",
                // "corejs": "3.6.5",
                "targets": {
                    "browsers": ["last 2 versions"]
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-syntax-dynamic-import",
        "universal-import"
    ]
}